[Unit]
Description=Loadout Manager server responder
Documentation=https://github.com/starlite-project/loadout-server
After=network.online.target
Wants=network.online.target

[Service]
ExecStart=/usr/local/bin/loadout-server
Restart=on-failure
DynamicUser=true

[Install]
WantedBy=multi-user.target